.Toolbar{
    height:56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #703B09;
    display: flex;
    justify-content: space-between;
    z-index: 90;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: center;
}

.Toolbar nav{
    height: 100%;
    
}


@media (max-width: 550px){
    .DisplayOnlyDesktop{
        display: none;
    }
}

.Menu{
    color:white;cursor:pointer;transition: all 0.3s;
}

.Menu:hover{
    color:#40A4C8;
}